---
import { t } from "i18next";

import globals from '@assets/js/globals.json';
import iconMap from '@assets/img/icon/map-pin.svg?url';
import iconInstagram from '@assets/img/icon/instagram.svg?url';
import Logo from "./Logo.astro";

const { pathname } = Astro.url;

interface Props {
  instagram?: boolean;
}
const { 
  instagram = false,
} = Astro.props;
---
<section>
  <a href={pathname}>
    <Logo />
  </a>
  <h3 class="small">{globals.name}</h3>
  <address>
    <ul>
      <li>{globals.address} <br>
      <a href={globals.mapUrl} target="_blank" data-event="mapClick">{t("address.mapText")}<img src={iconMap} alt="Invitaly address" width="24" height="24"> </a>
      
      </li>
      <li>
        <a href={`tel:${globals.phone}`} target="_blank" data-event="callClick">{globals.phone}</a>
      </li>
      <li>
        <a href={`mailto:${globals.email}`} target="_blank" data-event="emailClick">{globals.email}</a>
      </li>
    </ul>
    { instagram && <a href={globals.instagram} target="_blank" class="social-link" data-event="instagramClick">
      <img src={iconInstagram} alt="Invitaly instagram" width="28" height="28">
    </a> }
  </address>
</section>

<style>

  section {
    display: flex;
    flex-direction: column;
  }

  a[data-event="mapClick"] {
    display: flex;
    width: fit-content;
    border-bottom: 1px dotted var(--c-primary);
    margin-bottom: 1rem;
  }

  h3, .social-link {
    margin-top: 1rem;
  }
  :global(.social-link) {
    display: flex;
    gap: 1rem;
    line-height: 1.5;
  }
</style>