---
import { t } from "i18next";
import globals from '@assets/js/globals.json';
import iconWolt from '@assets/img/branding/wolt.png?url';
import iconInstagram from '@assets/img/icon/instagram.svg?url';

interface Props {
  hours?: string;
  wolt?: boolean;
  instagram?: boolean;
}
const {
  hours = "11:00 - 22:00",
  wolt = false,
  instagram = false 
} = Astro.props;

---
  <section>
    <h3 class="small">{t("reservation.reservation")}:</h3>
    <ul style="margin-bottom: 1rem;">
      <li><span>{t("reservation.call")}: </span> <a href={`tel:${globals.phone}`} target="_blank" data-event="callClick">{globals.phone}</a>
      </li>
      <li><span>Email: </span><a href={`mailto:${globals.email}`} target="_blank" data-event="emailClick">{globals.email}</a>
      </li>
      { wolt && <li>
        {t("reservation.order")}: <a href={t("reservation.woltUrl")} target="_blank" rel="nofollow" data-event="orderClick">
          <img src={iconWolt} width="55px" height="20px" style="margin: -0.4rem 0 0 1rem;" alt="Order Invitaly">
        </a>
      </li> }
    </ul>
    <h3 class="small">{t("reservation.openingHours")}:</h3>
    <div class="opening-hours">
      <p>{t("reservation.daysOpen")}:<br>{t("reservation.daysClosed")}:</p>
      <p>{hours}<br>{t("reservation.closed")}</p>
    </div>
    { instagram && <a href={globals.instagram} target="_blank" class="social-link" data-event="instagramClick">
      <img src={iconInstagram} alt="Invitaly instagram" width="28" height="28">
    </a> }
  </section>

  <style>
  /* @media (width >= 1024px) {
    section {
      grid-column: 2 / 6;
    }
  } */
    .opening-hours {
      display: flex;
      gap: var(--gutter);
    }
  </style>